<div class="calculadora">
    <div class="resultado">
        <strong class="log">{{log}}</strong>
        <br>
        <strong>{{resultado}}</strong>
    </div>
    <div class="linha-botoes">
        <button (click)="limparOperacao()">C</button>
        <button (click)="inserirOperacao('/')">/</button>
    </div>
    <div class="linha-botoes">
        <button (click)="inserirOperacao('7')">7</button>
        <button (click)="inserirOperacao('8')">8</button>
        <button (click)="inserirOperacao('9')">9</button>
        <button (click)="inserirOperacao('*')">X</button>
    </div>
    <div class="linha-botoes">
        <button (click)="inserirOperacao('4')">4</button>
        <button (click)="inserirOperacao('5')">5</button>
        <button (click)="inserirOperacao('6')">6</button>
        <button (click)="inserirOperacao('-')">-</button>
    </div>
    <div class="linha-botoes">
        <button (click)="inserirOperacao('1')">1</button>
        <button (click)="inserirOperacao('2')">2</button>
        <button (click)="inserirOperacao('3')">3</button>
        <button (click)="inserirOperacao('+')">+</button>
    </div>
    <div class="linha-botoes">
        <button (click)="inserirOperacao('0')">0</button>
        <button (click)="inserirOperacao('.')">,</button>
        <button (click)="calcularOperacao()">=</button>
    </div>
</div>